<h2><%= @page.title %></h2>
<%= form_with(model: [:bicycle, @page, @image], multipart: true) do |form| %>
  <%= render partial: "errors", locals: {model: image} %>

  <% unless @image.image_file.file.nil? %>
    <% # image_tag url_for(image.image_file.variant(resize_to_limit: [100, nil])) %>
  <% end %>

  <p>
    <%= form.label :image_file %>
    <%= form.file_field :image_file, accept: "image/png, image/gif, image/jpeg" %>
  </p>

  <p>
    <%= form.label :role %>
    <%= form.select(:role, Image::ROLES.map {|role| [t(role, scope: "image.roles"), role]}) %>
  <p>

  <p>
    <%= form.label :caption, style: "display: block" %>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.label :alt_text, style: "display: block" %>
    <%= form.text_field :alt_text %>
  </p>

  <p>
    <%= form.submit class: "yes" %>
  </p>
<% end %>
