
<%= form_with(model: [:helm, page]) do |form| %>
  <%= render partial: "errors", locals: {model: page} %>
  <p>
    <%= form.label :live do %>
      Live <%= form.check_box :live, { checked: page.live } %> 
    <% end %>
  </p>

  <p>
    <%= form.label :banner %>
    <%= form.file_field :banner, accept: "image/png, image/gif, image/jpeg" %>
    <% if @page.banner.attached? %>
      <%= image_tag url_for(page.banner.variant(resize_to_limit: [100, nil])) %>
    <% end %>
  </p>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :abstract %>
    <%= form.text_area :abstract %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.label :parent %>
    <%= form.collection_select(:parent_id, Page.all, :id, :title,{include_blank: ""}) %>
  <p>
    <%= form.submit %>
  </p>
<% end %>