<h2><%= @page.title %></h2>
<%= form_with(model: [:helm, @page, @image]) do |form| %>
  <%= render partial: "errors", locals: {model: image} %>

  <div>
    <%= form.label :image_file %>
    <%= form.file_field :image_file, accept: "image/png, image/gif, image/jpeg" %>
    <% if @image.image_file.attached? %>
      <%= image_tag url_for(image.image_file.variant(resize_to_limit: [100, nil])) %>
    <% end %>
  </div>

  <div>
    <%= form.label :caption, style: "display: block" %>
    <%= form.text_field :caption %>
  </div>

  <div>
    <%= form.label :alt_text, style: "display: block" %>
    <%= form.text_field :alt_text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
