<p style="color: green"><%= notice %></p>

<%= render @image %>

<div>
  <%= link_to "Edit this image", edit_helm_page_image_path(@page, @image) %> |
  <%= link_to "Back to images", helm_page_images_path %>

  <%= button_to "Destroy this image", [:helm, @page, @image], method: :delete %>
</div>
