<h1><%= t("user.resend_unlock_instructions") %></h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email" %>
  </p>

  <p>
    <%= f.submit t("user.resend_unlock_instructions") %>
  </p>
<% end %>

<%= render "users/shared/links" %>
