<nav>
  <label for="menu">
    <%= svg_icon("menu") %>
  </label>
  <input type="checkbox" id="menu"/>
  <div>
    <% if user_signed_in? %>
      <p><%= current_user.email %> <%= button_to "Sign out", destroy_user_session_path, method: :delete %></p>
    <% end %>
    <h3>Pages:</h3>
    <ul>
    <% Page.roots.each do |page| %>
      <%= render partial: "menu_tree", locals: {page: page} %>
    <% end %>
    </ul>
    <p><%= link_to t("helm.page.new"), new_helm_page_path, class: "button" %></p>
    <h3>Users:</h3>
    <% User.all.each do |user| %>
      <ul>
        <li><%= link_to user.email, edit_helm_user_path(user) %></li>
      </ul>
    <% end %>
  </div>
</nav>