
<%= form_with(model: [:bicycle, page]) do |form| %>
  <%= render partial: "errors", locals: {model: page} %>
  <% tscope = "activerecord.attributes.page" %>
  <div>
    <div style="width: 45%; float: left;">
      <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </p>

      <p>
        <!-- TODO: order and indent pages and children (and children's children...) -->
        <%= form.label :parent %>
        <%= form.collection_select(:parent_id, Page.all.excluding(page), :id, :title,{include_blank: ""}) %>
      </p>

      <p>
        <%= form.label :template %>
        <%= form.select(:template, Page::TEMPLATES.map {|template| [t(template, scope: "page.templates"), template]}) %>
      <p>

      <p>
        <%= form.label :url %>
        <%= form.text_field :url %>
      <p>

      <p style="width: 50%; float: left;">
        <%= form.label :meta_published_at %>
        <%= form.datetime_field :meta_published_at %>
      <p>

      <p style="width: 50%; float: left;">
        <%= form.label :meta_updated_at %>
        <%= form.datetime_field :meta_updated_at %>
      <p>

      <p>
        <%= form.label :live, :live do %>
          <%= form.check_box :live, { checked: page.live } %> <%= t("live", scope: tscope) %>
        <% end %>
      </p>

      <p>
        <%= form.label :in_menu do %>
          <%= form.check_box :in_menu, { checked: page.in_menu } %> <%= t("in_menu", scope: tscope) %>
        <% end %>
      </p>
    </div>

    <div style="width: 50%; float: left; margin-left: 5%;">
      <p>
        <%= form.label :user_id %>
        <%= form.select(:user_id, User.admin.all.map {|user| [user.name, user.id]}, include_blank: "-") %>
      <p>
      <p>
        <%= form.label :meta_description %>
        <%= form.text_area :meta_description, rows: 3 %>
      </p>
      <p>
        <%= form.label :abstract %>
        <%= form.text_area :abstract, rows: 10 %>
      </p>
    </div>
  </div>
  <div style="clear: left">
    <p>
      <%= form.label :body %>
      <%= form.text_area :body, rows: 12 %>
    </p>
    <p><em>Use fig[1], fig[2], etc to insert inline images and [gallery] to insert gallery images.</em></p>
    <p><em>Use repo[/gituser/gitrepo] to insert a Github repository.</em></p>
  </div>
  <p>
    <%= form.submit class: "yes" %>
  </p>
<% end %>