<h1><%= t("bicycle.page.edit") %></h1>

<%= render "form", page: @page %>

<%= button_to t("bicycle.page.destroy"), [:bicycle, @page], method: :delete, form: {data: {confirm: t("are_you_sure"), accept: t("accept"), cancel: t("cancel")}}, class: "no"%>

<h2>Images</h2>

<% # TODO: make use of the <dialog> element! %>
<h3>Banners</h3>
<% @page.images.banner.each do |image| %>
    <%= link_to image_tag(image.image_file.square.url), edit_bicycle_page_image_path(@page, image) %>
<% end %>
<h3>Social</h3>
<% @page.images.social.each do |image| %>
    <%= link_to image_tag(image.image_file.square.url), edit_bicycle_page_image_path(@page, image) %>
<% end %>
<h3>Inline</h3>
<% @page.images.inline.each do |image| %>
    <%= link_to image_tag(image.image_file.square.url), edit_bicycle_page_image_path(@page, image) %>
<% end %>
<h3>Gallery</h3>
<% @page.images.gallery.each do |image| %>
    <%= link_to image_tag(image.image_file.square.url), edit_bicycle_page_image_path(@page, image) %>
<% end %>

<%= link_to t("bicycle.image.new"), new_bicycle_page_image_path(@page), class: "button" %>