<% cache @page.images do %>
  <figure>
    <%= image_tag(url_for(image.image_file.variant(resize_to_limit: [800, nil])), alt: image.alt_text) %>
    <figcaption><%= image.caption %></figcaption>
    <p><%= link_to "Return to #{image.page.title}", full_page_path(image.page) %></p>
    <details>
      <summary>Details</summary>
      <p>
        We should make use of this!
      </p>
    </details>
  </figure>
  <% 
  # TODO: these links include ALL page images; we need to limit it to "inline" and/or "gallery", but how? 
  # TODO: we might have to re-think the way images are linked to pages... 
  %>
  <%= link_to(svg_icon("left"), page_image_path(image.page, image.higher_item), class: "button prev") if image.higher_item.present? %>
  <%= link_to(svg_icon("right"), page_image_path(image.page, image.lower_item), class: "button next") if image.lower_item.present? %>

  <%= render(partial: "pages/gallery", locals: {page: @page, images: @page.images.gallery}) if @page.images.gallery.any? %>
<% end %>