<!DOCTYPE html>
<html>
  <head>
    <title>clickworkorange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "site" %>
    <% # javascript_include_tag "application" %>
  </head>

  <body class="<%= @page.template if @page.present? %>">
    <header><h1><a href="/">=clickworkorange=</a></h1></header>
    <%= render partial: "menu" %>
    <article>
      <%= content_tag(:p, notice, class: "notice") if notice.present? %>
      <%= content_tag(:p, alert, class: "alert") if alert.present? %>
      <%= yield %>
    </article>
    <footer>
      <ul class="address">
        <li>clickworkorange Ltd</li>
        <li>info@clickworkorange.com</li>
      </ul>
    </footer>
  </body>
</html>
