<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>clickworkorange<%= " - #{@page.title}" if @page.present? %></title>
    <%= tag(:meta, name: "description", content: @page.abstract) if @page.present? %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "site" %>
    <% # javascript_include_tag "application" %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body class="<%= @page.template if @page.present? %>">
    <header>
      <h1><a href="/">=clickworkorange=</a></h1>
      <h2>connecting the dots</h2>
    </header>
    <main>
      <%# render partial: "menu" %>
      <article>
        <%= content_tag(:p, notice, class: "notice") if notice.present? %>
        <%= content_tag(:p, alert, class: "alert") if alert.present? %>
        <%= yield %>
      </article>
    </main>
    <footer>
      <address>
        <ul>
          <li>clickworkorange Ltd</li>
          <li>info@clickworkorange.com</li>
        </ul>
      </address>
    </footer>
  </body>
</html>
